.top-bar {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.top-bar__logo {
    width: 35px;
}

/*button styles*/
.btn {
    width: 35px;
    height: 35px;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.btn img{
    width: 100%;
    height: 100%;
}

.btn--dark {
    border: 1px solid #252525;
}

.btn--light{
    border: 1px solid #fff;
}
